# File Run Configuration
#0.0.0.0:3000 {
#  errors visible
#  root /home/pi/filerun
#  gzip
#  timeouts none
#  fastcgi / /run/php/php7.0-fpm.sock php
#}

0.0.0.0:3000 {
	filemanager / /media/pi/Backup2TB
}