# Ignore Everything
# Look at article mentioned in README, files are added with 'git add -f FILE_NAME_HERE'
*
**/.htpasswd

# Some exceptions to the above rule
!.files_aliases.sh
!.files_functions/*
!.files_libs/*
!.files_templates/*
!.initial_install.sh
