# Pi Hole
# Need to set lighttpd on port 1080 from guide:
# https://github.com/pi-hole/pi-hole/wiki/Caddy-Webserver-Frontend
pi.hole:80, 0.0.0.0:80 {
  root /var/www/html/pihole

  rewrite {
    ext js
    to index.js
  }

  proxy / localhost:1080 {
    transparent
  }
}
