# Must Pass in Proxy IP as environment variable

# Our Maintenance Failover Website
http://0.0.0.0:5000 {
  gzip
  root /home/torch2424/maintenanceFailover

  rewrite / {
  	regexp .*
    # Rewrite to the path, then path with slash, then if both 404, just /
  	to {path} {path}/ /
  }
}

# Home Page / Portfolio site
aaronthedev.com, http://0.0.0.0:8000 {
    gzip
    proxy / {$APP_IP}:8000 0.0.0.0:5000/aaronTheDev {
        policy first
        transparent
        health_check /
    }
}

# Leah's Portfolio Site
leahrosegarza.com, http://0.0.0.0:2525 {
    gzip
    proxy / {$APP_IP}:2525 0.0.0.0:5000/leahRoseGarza {
        policy first
        transparent
        health_check /
    }
}

# Sayonara Docs Pags
sayonarajs.com, http://0.0.0.0:4200 {
    gzip
    proxy / {$APP_IP}:4200 0.0.0.0:5000 {
        policy first
        transparent
        health_check /
    }
}

# No Comply Games Maintenance
nocomplygames.com, http://0.0.0.0:2424 {
    gzip
    proxy / {$APP_IP}:2424 0.0.0.0:5000 {
        policy first
        transparent
        health_check /
    }
}

# Get Dis Money
getdismoney.com, http://0.0.0.0:3030 {
    gzip
    proxy / {$APP_IP}:3030 0.0.0.0:5000 {
        policy first
        transparent
        health_check /
    }
}

# Droppy File Server
files.aaronthedev.com, http://0.0.0.0:8989 {
    gzip
    proxy / {$APP_IP}:8989 0.0.0.0:5000 {
        policy first
        transparent
        health_check /
        websocket
    }

    header /$/ {
        Cache-Control  "public, max-age=2678400"
    }
}

# Gogs, Aaronthedev git
git.aaronthedev.com, http://0.0.0.0:3000 {
    gzip
    proxy / {$APP_IP}:3000 0.0.0.0:5000 {
        policy first
        transparent
        health_check /
    }
}

# Mongo Manager, Similar to phpmy admin
mongo.aaronthedev.com, http://0.0.0.0:7000 {
    gzip
    proxy / {$APP_IP}:7000 0.0.0.0:5000 {
        policy first
        transparent
        health_check /
    }
}

# Testbuild, Droppy directory for hosting quick builds
testbuild.aaronthedev.com, http://0.0.0.0:2425 {
    gzip
    proxy / {$APP_IP}:2425 0.0.0.0:5000 {
        policy first
        transparent
        health_check /
    }
}

# Tunnel, for ngrok-like ssh port sharing
tunnel.aaronthedev.com {
  gzip
	proxy / localhost:9090 0.0.0.0:5000 {
		policy first
		health_check /
		transparent
	}
}

# Paint with Bob
stream.paintwithbob.com, http://0.0.0.0:6969 {
    proxy / {$APP_IP}:6969 0.0.0.0:5000 {
        policy first
        transparent
        health_check /stream.ogg
    }
}

api.paintwithbob.com, http://0.0.0.0:6970 {
    gzip
    proxy / {$APP_IP}:6970 0.0.0.0:5000 {
        policy first
        transparent
        health_check /
    }
}

dev.paintwithbob.com, http://0.0.0.0:6971 {
    proxy / {$APP_IP}:6971 0.0.0.0:5000 {
        policy first
        transparent
        health_check /
    }
}
