# Must Pass in Proxy IP as environment variable

# Our Maintenance Failover Website
http://0.0.0.0:5000 {
  gzip
  root /home/torch2424/maintenanceFailover
}

# Home Page / Portfolio site
aaronthedev.com {
    gzip
    proxy / {$APP_IP}:8000 {
        policy first
        transparent
    }
}

# Droppy File Server
files.aaronthedev.com {
    proxy / {$APP_IP}:8989 {
        transparent
        websocket
    }

    header /$/ {
        Cache-Control  "public, max-age=2678400"
    }
}

# Leah's Portfolio Site
leahrosegarza.com {
    gzip
    proxy / {$APP_IP}:2525 {
        transparent
    }
}

# Sayonara Docs Pags
sayonarajs.com {
    gzip
    proxy / {$APP_IP}:4200 {
        transparent
    }
}

# No Comply Games Maintenance
nocomplygames.com {
    gzip
    proxy / {$APP_IP}:4200 {
        transparent
    }
}

# Aaronthedev blog
blog.aaronthedev.com {
    gzip
    proxy / {$APP_IP}:8080 {
        transparent
    }
}

# Get Dis Money
getdismoney.com {
    gzip
    proxy / {$APP_IP}:3030 {
        transparent
    }
}

# Gogs, Aaronthedev git
git.aaronthedev.com {
    proxy / {$APP_IP}:3000 {
        transparent
    }
}

# Mongo Manager, Similar to phpmy admin
mongo.aaronthedev.com {
    proxy / {$APP_IP}:7000 {
        transparent
    }
}

# Crontab ui
# https://github.com/alseambusher/crontab-ui
cron.aaronthedev.com {
    basicauth / torch2424 htpasswd=.htpasswd
    proxy / {$APP_IP}:9000 {
        transparent
    }
}

# Testbuild, Droppy directory for hosting quick builds
testbuild.aaronthedev.com {
    root /home/torch2424/droppyFileServer/files/testbuild.aaronthedev.com

    browse
}
