# Must Pass in Proxy IP as environment variable

# Snippet for logs on some important sites
# Trying to emulate the VCOMBINED format for
# goaccess
(logsnippet) {
  log / ./logs/access-{$SERVER_TAG}.log "{hostonly}:{port} {remote} - {user} [{when}] \"{method} {uri} {proto}\" {status} {size} \"{>Referer}\" \"{>User-Agent}\"" {
    rotate_size 100
    rotate_age  60
    rotate_keep 10
  }
}

# Our Maintenance Failover Website
http://0.0.0.0:5000 {
  import logsnippet
  gzip
  root /home/torch2424/maintenanceFailover

  rewrite / {
  	regexp .*
    # Rewrite to the path, then path with slash, then if both 404, just /
  	to {path} {path}/ /
  }
}

# goaccess for analyzing (local) web logs
logs.aaronthedev.com, http://0.0.0.0:7891 {
  basicauth / torch2424 htpasswd=../.htpasswd 
  gzip
  root ./goaccess
}

# Home Page / Portfolio site
aaronthedev.com, aaronthedev.app, http://0.0.0.0:8000 {
    import logsnippet
    gzip
    proxy / {$APP_IP}:8000 {$APP_2_IP}:8000 0.0.0.0:5000/aaronTheDev {
        policy first
        transparent
        health_check /
    }
}

# Leah's Portfolio Site
leahrosegarza.com, http://0.0.0.0:2525 {
    import logsnippet
    gzip
    proxy / {$APP_IP}:2525 {$APP_2_IP}:8000 0.0.0.0:5000/leahRoseGarza {
        policy first
        transparent
        health_check /
    }
}

# Sayonara Docs Pags
sayonarajs.com, http://0.0.0.0:4200 {
    import logsnippet
    gzip
    proxy / {$APP_IP}:4200 0.0.0.0:5000 {
        policy first
        transparent
        health_check /
    }
}

# No Comply Games Maintenance
nocomplygames.com, http://0.0.0.0:2424 {
    gzip
    proxy / {$APP_IP}:2424 0.0.0.0:5000 {
        policy first
        transparent
        health_check /
    }
}

# Get Dis Money
getdismoney.com, http://0.0.0.0:3030 {
    import logsnippet
    gzip
    proxy / {$APP_IP}:3030 0.0.0.0:5000 {
        policy first
        transparent
        health_check /
    }
}

# VaporBoy
vaporboy.net, http://0.0.0.0:9080 {
  import logsnippet
  proxy / {$APP_IP}:9080 {$APP_2_IP}:8000 0.0.0.0:5000 {
		policy first
		transparent
		health_check /
	}
}

# Programming Languages talk
programminglanguages.talks.aaronthedev.com, programminglanguages.talks.aaronthedev.app, http://0.0.0.0:4240 {
    gzip
    proxy / {$APP_IP}:4240 0.0.0.0:4240 {
        policy first
        transparent
        health_check /
    }
}

# Droppy File Server
files.aaronthedev.com, http://0.0.0.0:8989 {
    gzip
    proxy / {$APP_IP}:8989 0.0.0.0:5000 {
        policy first
        transparent
        health_check /
        websocket
    }

    header /$/ {
        Cache-Control  "public, max-age=2678400"
    }
}

# Gogs, Aaronthedev git
git.aaronthedev.com, http://0.0.0.0:3000 {
    gzip
    proxy / {$APP_IP}:3000 0.0.0.0:5000 {
        policy first
        transparent
        health_check /
    }
}

# Mongo Manager, Similar to phpmy admin
mongo.aaronthedev.com, http://0.0.0.0:7000 {
    gzip
    proxy / {$APP_IP}:7000 0.0.0.0:5000 {
        policy first
        transparent
        health_check /
    }
}

# Testbuild / demo, Droppy directory for hosting quick builds
demo.aaronthedev.com, http://0.0.0.0:2425 {
    gzip
    proxy / {$APP_IP}:2425 0.0.0.0:5000 {
        policy first
        transparent
        health_check /
    }
}

# Tunnel, for ngrok-like ssh port sharing
tunnel.aaronthedev.com, tunnel.aaronthedev.app {
  gzip
	proxy / localhost:9090 0.0.0.0:5000 {
		policy first
		health_check /
		transparent
	}
}

# Paint with Bob
files.paintwithbob.com, http://0.0.0.0:6966 {
    proxy / {$APP_IP}:6966 0.0.0.0:5000 {
        policy first
        transparent
        websocket
    }
}

stream.paintwithbob.com, http://0.0.0.0:6969 {
    header / Strict-Transport-Security "max-age=31536000;"
    proxy / {$APP_IP}:6969 {
        transparent
    }
}

api.paintwithbob.com, http://0.0.0.0:6970 {
    gzip
    header / Strict-Transport-Security "max-age=31536000;"
    proxy / {$APP_IP}:6970 0.0.0.0:5000 {
        policy first
        transparent
        health_check /
    }
}

paintwithbob.com, dev.paintwithbob.com, http://0.0.0.0:6971 {
    import logsnippet
    header / Strict-Transport-Security "max-age=31536000;"
    proxy / {$APP_IP}:6971 0.0.0.0:5000 {
        policy first
        transparent
        health_check /
    }
}
