# How to create systemd services: http://neilwebber.com/notes/2016/02/10/making-a-simple-systemd-file-for-raspberry-pi-jessie/
# Digital ocean on a mongodb service: https://www.digitalocean.com/community/tutorials/how-to-install-mongodb-on-ubuntu-16-04
# Copy the file to /etc/systemd/system
[Unit]
Description=Torch2424 Template for a simple caddy  service
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi
ExecStart=/bin/bash --login -c 'source /home/${whoami}/.bashrc; cd ~/.caddy_files/homePiNetwork && caddy -email aaron@aaronthedev.com'
Restart=always

[Install]
WantedBy=multi-user.target
