# Pi Hole
# Need to set lighttpd on port 1080 from guide:
# https://github.com/pi-hole/pi-hole/wiki/Caddy-Webserver-Frontend
pi.hole:80, 0.0.0.0:80 {
  root /var/www/html/pihole

  rewrite {
    ext js
    to index.js
  }

  proxy / localhost:1080 {
    transparent
  }
}

# Go / Karen / Short Links
# https://github.com/torch2424/go
karen:80, go:80, pi:80, karen.links:80, go.links:80, pi.links:80, link:80, links:80 {
    
    proxy / localhost:8067 {
        transparent
    }
}

# Karen Go Smart Home
# Support https and http for IFTTT and testing
# Caddy will redirect all requests from http to https
# GET requests will respect this, but not POST
# https://github.com/mholt/caddy/issues/1014
http://karen.aaronthedev.com, https://karen.aaronthedev.com {
    
    # Log Everything to stdout
    log stdout
    
    proxy / localhost:4000 {
        transparent
    }
}

# Pi Camera
28ba6kx8pq3.aaronthedev.com {
    proxy / http://192.168.86.111:8765 {
        transparent
    }
}

# Mean chat app websockets with Josh
http://chat.aaronthedev.com, https://chat.aaronthedev.com {
    proxy / localhost:3000 {
        transparent
    }
}

# Backup File Server
backup.aaronthedev.com {

    redir 301 {
        if {>X-Forwarded-Proto} is http
        /  https://{host}{uri}
    }

    proxy / http://192.168.86.111:3000 {
        transparent
    }
}

# Inbucket Temp Mail
mail.aaronthedev.com {
    basicauth / torch2424 htpasswd=.htpasswd
    proxy / localhost:9000 {
        transparent
    }
}

# Galaxy Noise Radio Website
galaxynoiseradio.com {
  proxy / http://192.168.86.193:8080 {
    transparent
  }

  cache {
    default_max_age 30m
  }
}

# Galaxy Noise Radio Droppy
files.galaxynoiseradio.com {
    proxy / http://192.168.86.193:8989 {
        transparent
        websocket
    }
}
