# No Comply Games Maintenance
http://0.0.0.0:2424 {
    gzip
    root /home/torch2424/nocomplygames-maintenance
}

# Testbuild, Droppy directory for hosting quick builds
http://0.0.0.0:2425 {
    root /home/torch2424/droppyFileServer/files/testbuild.aaronthedev.com

    browse
}

# Basic Auth for crontab-ui
# https://github.com/alseambusher/crontab-ui
cron.aaronthedev.com, http://0.0.0.0:9000 {
    basicauth / torch2424 htpasswd=.htpasswd
    proxy / localhost:9001 {
        transparent
    }
}

# Paint wit Bob dev git CD
http://0.0.0.0:8024 {
  git git@github.com:PaintWithBob/paint-with-bob {
    hook /webhook
    then  bash /home/torch2424/paint-with-bob/restartAll.sh
  }
}
