# How to create systemd services: http://neilwebber.com/notes/2016/02/10/making-a-simple-systemd-file-for-raspberry-pi-jessie/
# Digital ocean on a mongodb service: https://www.digitalocean.com/community/tutorials/how-to-install-mongodb-on-ubuntu-16-04
# Copy the file to /etc/systemd/system
[Unit]
Description=Torch2424 Template for a simple caddy  service
After=network.target

[Service]
Type=simple
User=torch2424
WorkingDirectory=/home/torch2424
ExecStart=/bin/bash --login -c 'source /home/torch2424/.bashrc; cd ~/.files_caddy/galaxy-noise-radio && caddy -email aaron@aaronthedev.com -agree'
Restart=always

[Install]
WantedBy=multi-user.target
